html,
body,
section,
section#packages .container-lg,
section#packages .container-lg > .card,
section#packages .container-lg > .card > .card-body,
section#nicommons .container-lg,
section#nicommons .container-lg > .card,
section#nicommons .container-lg > .card > .card-body {
  height: 100%;
}
main {
  height: calc(100% - 2.625rem);
  overflow-y: auto;
}
button.dropdown-item:not(.selected) i {
  visibility: hidden;
}
#packages-table ul {
  list-style: none;
}
#packages-table input[type='radio'] {
  display: none;
}
#packages-table input[type='radio']:checked + label {
  min-height: 150px;
}
#packages-table .accordion-detail {
  display: none;
}
#packages-table input[type='radio']:checked + label .accordion-detail {
  display: block;
}
div#packages-table-overlay {
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(127, 127, 127, 0.5);
}
.sort:after {
  content: '';
  float: right;
  margin-top: 0.5em;
  border-width: 0 0.3em;
  border-style: solid;
  border-color: transparent;
}
.sort.desc:after {
  border-width: 0 0.3em 0.6em;
  border-color: #505050 transparent;
}
.sort.asc:after {
  border-width: 0.6em 0.3em 0;
  border-color: #505050 transparent;
}
@media (prefers-color-scheme: dark) {
  .sort.desc:after {
    border-color: #a0a0a0 transparent;
  }
  .sort.asc:after {
    border-color: #a0a0a0 transparent;
  }
}

img.emoji {
  height: 1em;
  width: 1em;
  margin: 0 0.05em 0 0.1em;
  vertical-align: -0.1em;
}

section#nicommons img {
  max-height: 64px;
}
@media screen and (min-width: 576px) {
  section#nicommons img {
    max-height: 96px;
  }
}
