html,
body,
section,
section#plugins .container-fluid,
section#scripts .container-fluid {
  height: 100%;
}
main {
  height: calc(100% - 2.625rem);
  overflow-y: auto;
}
.plugins-table,
.scripts-table {
  position: relative;
  min-height: 6rem;
}
.plugins-table .col,
.scripts-table .col {
  height: 100%;
  overflow-y: auto;
}
div#plugins-table-overlay,
div#scripts-table-overlay {
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(127, 127, 127, 0.5);
}
.plugin-detail,
.script-detail {
  overflow-x: auto;
}
.plugin-detail .row,
.script-detail .row {
  margin-top: 2px;
  margin-bottom: 2px;
}
.sort.desc:after {
  content: '';
  float: right;
  margin-top: 0.4em;
  border-width: 0 0.4em 0.7em;
  border-style: solid;
  border-color: #505050 transparent;
}
.sort.asc:after {
  content: '';
  float: right;
  margin-top: 0.4em;
  border-width: 0.7em 0.4em 0;
  border-style: solid;
  border-color: #505050 transparent;
}
