html,
body,
section,
section#packages .container-fluid {
  height: 100%;
}
main {
  height: calc(100% - 2.625rem);
  overflow-y: auto;
}
button.dropdown-item:not(.selected) svg {
  visibility: hidden;
}
.packages-table {
  position: relative;
  min-height: 6rem;
}
.packages-table .col {
  height: 100%;
  overflow-y: auto;
}
.packages-table #packages-table {
  margin-bottom: 0;
}
.packages-table thead th {
  position: sticky;
  top: 0;
  z-index: 900;
}
.packages-table thead th::before {
  content: '';
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  border-bottom: #000 solid 2px;
}

/* Prevent thead>th border from flickering */
.table > :first-child > :last-child > * {
  border-bottom: none;
}
.table > :nth-child(2) {
  border-top: none;
}

.packages-table th:first-child,
.packages-table td:first-child {
  padding-left: 0.75rem;
}
.packages-table th:last-child,
.packages-table td:last-child {
  padding-right: 0.75rem;
}

div#packages-table-overlay {
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(127, 127, 127, 0.5);
}
.package-detail {
  overflow-x: auto;
}
.package-detail .row {
  margin-top: 2px;
  margin-bottom: 2px;
}
.sort.desc:after {
  content: '';
  float: right;
  margin-top: 0.5em;
  border-width: 0 0.3em 0.6em;
  border-style: solid;
  border-color: #505050 transparent;
}
.sort.asc:after {
  content: '';
  float: right;
  margin-top: 0.5em;
  border-width: 0.6em 0.3em 0;
  border-style: solid;
  border-color: #505050 transparent;
}
img.emoji {
  height: 1em;
  width: 1em;
  margin: 0 0.05em 0 0.1em;
  vertical-align: -0.1em;
}
