@charset "UTF-8";

:root {
  --font-family-sans-serif: 'Helvetica Neue', 'Helvetica', 'Hiragino Sans',
    'Hiragino Kaku Gothic ProN', 'Arial', 'Meiryo', sans-serif;
  --font-family-serif: 'Times New Roman', 'YuMincho', 'Hiragino Mincho ProN',
    'Yu Mincho', 'MS PMincho', serif;
  --bs-border-radius: 0.2rem;
}
body {
  font-family: 'Helvetica Neue', 'Helvetica', 'Hiragino Sans',
    'Hiragino Kaku Gothic ProN', 'Arial', 'Meiryo', sans-serif;
}
th {
  font-weight: unset;
}
.nav-tabs .nav-link {
  color: var(--bs-body-color);
}
.btn-primary {
  --bs-btn-disabled-bg: #0b5ed7;
  --bs-btn-disabled-border-color: #0a58ca;
  --bs-btn-bg: #0b5ed7;
  --bs-btn-border-color: #0a58ca;
  --bs-btn-hover-bg: #0a58ca;
  --bs-btn-hover-border-color: #0a53be;
}
