name: 'Electronegativity'

on:
  push:
    branches: [main]
  pull_request:
    # The branches below must be a subset of the branches above
    branches: [main]
  schedule:
    - cron: '43 19 * * 5'

jobs:
  build_job:
    name: Analyze
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-node@v4
        with:
          node-version: 18

      - uses: doyensec/electronegativity-action@v2.0

      - name: Upload sarif
        uses: github/codeql-action/upload-sarif@v3
        with:
          sarif_file: ../electronegativity_results
